<a href="https://colab.research.google.com/github/Ernestug/30Days-of-Learning-Data-Analysis-Using-Power-BI-for-Students/blob/main/Master_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# Import the necessary libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
import os

In [17]:
# To upload dataset into google colab directory
from google.colab import files
uploaded = files.upload()

Saving FFDB_20230222.csv to FFDB_20230222.csv

In [19]:
# Loading datasets into pandas dataframe
df = pd.read_csv("FFDB_20230222.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [22]:
# To print the top 10 rows of the dataset
df.head(10)

,name,short_name,lat_dec,lon_dec,trap_depth_m,trap,sample,subsample,ocean,upwelling,...,close,split,collectionArea_m2,species_original,species_harmonised,collectionInterval,shellCount,shellFlux_n_m2_day,importDate,reference_2
0,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s1,ABP_T1_s1_ss1,PAC,N,...,1990-09-12T00:00:00Z,NaN,NaN,N_pachyderma,Neogloboquadrina_pachyderma,1728000,NaN,64.000000,2022-07-29T10:27:00Z,NaN
1,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s1,ABP_T1_s1_ss1,PAC,N,...,1990-09-12T00:00:00Z,NaN,NaN,G_umbilicata,Globigerina_bulloides,1728000,NaN,6.400000,2022-07-29T10:27:00Z,NaN
2,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s1,ABP_T1_s1_ss1,PAC,N,...,1990-09-12T00:00:00Z,NaN,NaN,T_quinqueloba,Turborotalita_quinqueloba,1728000,NaN,0.000000,2022-07-29T10:27:00Z,NaN
3,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s1,ABP_T1_s1_ss1,PAC,N,...,1990-09-12T00:00:00Z,NaN,NaN,G_glutinata,Globigerinita_glutinata,1728000,NaN,0.000000,2022-07-29T10:27:00Z,NaN
4,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s1,ABP_T1_s1_ss1,PAC,N,...,1990-09-12T00:00:00Z,NaN,NaN,O_universa,Orbulina_universa,1728000,NaN,0.000000,2022-07-29T10:27:00Z,NaN
5,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s1,ABP_T1_s1_ss1,PAC,N,...,1990-09-12T00:00:00Z,NaN,NaN,G_wilesi,Globorotalia_scitula,1728000,NaN,0.000000,2022-07-29T10:27:00Z,NaN
6,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s2,ABP_T1_s2_ss1,PAC,N,...,1990-10-02T00:00:00Z,NaN,NaN,N_pachyderma,Neogloboquadrina_pachyderma,1728000,NaN,642.560000,2022-07-29T10:27:00Z,NaN
7,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s2,ABP_T1_s2_ss1,PAC,N,...,1990-10-02T00:00:00Z,NaN,NaN,G_umbilicata,Globigerina_bulloides,1728000,NaN,185.667368,2022-07-29T10:27:00Z,NaN
8,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s2,ABP_T1_s2_ss1,PAC,N,...,1990-10-02T00:00:00Z,NaN,NaN,T_quinqueloba,Turborotalita_quinqueloba,1728000,NaN,16.572632,2022-07-29T10:27:00Z,NaN
9,Station Aleutian Basin,ABP,53.05,-177.0,3198,ABP_T1,ABP_T1_s2,ABP_T1_s2_ss1,PAC,N,...,1990-10-02T00:00:00Z,NaN,NaN,G_glutinata,Globigerinita_glutinata,1728000,NaN,0.000000,2022-07-29T10:27:00Z,NaN

In [26]:
# To visualize the last 5 bottom rows
df.tail()

,name,short_name,lat_dec,lon_dec,trap_depth_m,trap,sample,subsample,ocean,upwelling,...,close,split,collectionArea_m2,species_original,species_harmonised,collectionInterval,shellCount,shellFlux_n_m2_day,importDate,reference_2
150171,South China Sea Xisha Trough,XTS,17.431667,110.886,1460,XTS_T1,XTS_T1_s48,XTS_T1_s48_ss1,PAC,N,...,2011-08-16T00:00:00Z,2.0,0.5,G. glutinata,Globigerinita_glutinata,1296000,98.0,26.133333,2022-08-15T08:21:10Z,NaN
150172,South China Sea Xisha Trough,XTS,17.431667,110.886,1460,XTS_T1,XTS_T1_s48,XTS_T1_s48_ss1,PAC,N,...,2011-08-16T00:00:00Z,2.0,0.5,G. tenellus,Globigerinoides_tenellus,1296000,5.0,1.333333,2022-08-15T08:21:10Z,NaN
150173,South China Sea Xisha Trough,XTS,17.431667,110.886,1460,XTS_T1,XTS_T1_s48,XTS_T1_s48_ss1,PAC,N,...,2011-08-16T00:00:00Z,2.0,0.5,G. falconensis,Globigerina_falconensis,1296000,0.0,0.000000,2022-08-15T08:21:10Z,NaN
150174,South China Sea Xisha Trough,XTS,17.431667,110.886,1460,XTS_T1,XTS_T1_s48,XTS_T1_s48_ss1,PAC,N,...,2011-08-16T00:00:00Z,2.0,0.5,C. nitida,Candeina_nitida,1296000,0.0,0.000000,2022-08-15T08:21:10Z,NaN
150175,South China Sea Xisha Trough,XTS,17.431667,110.886,1460,XTS_T1,XTS_T1_s48,XTS_T1_s48_ss1,PAC,N,...,2011-08-16T00:00:00Z,2.0,0.5,N. pachyderma(dex.),Neogloboquadrina_incompta,1296000,0.0,0.000000,2022-08-15T08:21:10Z,NaN

In [27]:
df.columns

Index(['name', 'short_name', 'lat_dec', 'lon_dec', 'trap_depth_m', 'trap',
       'sample', 'subsample', 'ocean', 'upwelling', 'reference_1',
       'data_source', 'min_size_micron', 'max_size_micron', 'duration_days',
       'all_species_counted', 'remarks', 'water_depth_m', 'open', 'close',
       'split', 'collectionArea_m2', 'species_original', 'species_harmonised',
       'collectionInterval', 'shellCount', 'shellFlux_n_m2_day', 'importDate',
       'reference_2'],
      dtype='object')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150176 entries, 0 to 150175
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   name                 150176 non-null  object
 1   short_name           150176 non-null  object
 2   lat_dec              150176 non-null  float64
 3   lon_dec              150176 non-null  float64
 4   trap_depth_m         150176 non-null  int64
 5   trap                 150176 non-null  object
 6   sample               150176 non-null  object
 7   subsample            150176 non-null  object
 8   ocean                150176 non-null  object
 9   upwelling            150176 non-null  object
 10  reference_1          148615 non-null  object
 11  data_source          48785 non-null   object
 12  min_size_micron      150155 non-null  float64
 13  max_size_micron      93488 non-null   float64
 14  duration_days        33846 non-null   float64
 15  all_species_counted  125273 non-null  object
 16  remarks              84723 non-null   object
 17  water_depth_m        149519 non-null  float64
 18  open                 150176 non-null  object
 19  close                150176 non-null  object
 20  split                72275 non-null   float64
 21  collectionArea_m2    72275 non-null   float64
 22  species_original     150176 non-null  object
 23  species_harmonised   149528 non-null  object
 24  collectionInterval   150176 non-null  int64
 25  shellCount           72275 non-null   float64
 26  shellFlux_n_m2_day   144664 non-null  float64
 27  importDate           150176 non-null  object
 28  reference_2          5643 non-null    object
dtypes: float64(10), int64(2), object(17)
memory usage: 33.2+ MB